<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
    <div ng-controller="accountController">
        <!-- Button modal ADD -->
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModaladd"
            style="width:100%">
            Thêm Mới
        </button>
        <!-- Modal ADD -->
        <div class="modal fade" id="exampleModaladd" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thêm Mới</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="" class="form-label">User Name</label>
                            <input type="text" ng-model="formadd.username" name="" id="" class="form-control"
                                placeholder="" aria-describedby="helpId">
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Email</label>
                            <input type="text" ng-model="formadd.email" name="" id="" class="form-control"
                                placeholder="" aria-describedby="helpId">
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Full Name</label>
                            <input type="text" ng-model="formadd.fullname" name="" id="" class="form-control"
                                placeholder="" aria-describedby="helpId">
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Pass Word</label>
                            <input type="password" ng-model="formadd.password" name="" id="" class="form-control"
                                placeholder="" aria-describedby="helpId">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" ng-click="create()" data-bs-dismiss="modal">Thêm
                            Mới</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal ADD END -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">User Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Full Name</th>
                    <th scope="col-2">ACT</th>
                </tr>
            </thead>
            <tbody ng-repeat="(key,ac) in items">
                <tr>
                    <td>{{ac.username}}</td>
                    <td>{{ac.email}}</td>
                    <td>{{ac.fullname}}</td>
                    <td>
                        <!-- Button modal EDIT -->
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                            data-bs-target="#exampleModaledit{{ac.username}}" ng-click="formedit(key)">
                            Edit
                        </button>
                        <!-- Modal EDIT -->
                        <div class="modal fade" id="exampleModaledit{{ac.username}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="" class="form-label">User Name</label>
                                            <input type="text" ng-model="dataedit.username" name="" id=""
                                                class="form-control" placeholder="" aria-describedby="helpId">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">Email</label>
                                            <input type="text" ng-model="dataedit.email" name="" id=""
                                                class="form-control" placeholder="" aria-describedby="helpId">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">Full Name</label>
                                            <input type="text" ng-model="dataedit.fullname" name="" id=""
                                                class="form-control" placeholder="" aria-describedby="helpId">
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">Pass Word</label>
                                            <input type="password" ng-model="dataedit.password" name="" id=""
                                                class="form-control" placeholder="" aria-describedby="helpId">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-warning" ng-click="update()"
                                            data-bs-dismiss="modal">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal ADD EDIT -->
                        <!-- Button modal DELETE -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModaldelete{{ac.username}}">
                            Delete
                        </button>
                        <!-- Modal DELETE -->
                        <div class="modal fade" id="exampleModaldelete{{ac.username}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <b>Bạn chắc chắn xóa chứ</b>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-danger" ng-click="delete(key)"
                                            data-bs-dismiss="modal">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal AND DELETE -->
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>